<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title%></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"
    />
    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <!-- animation -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <!-- font font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>

    <!-- izitoast -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/izitoast/dist/css/iziToast.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/izitoast/dist/js/iziToast.min.js"></script>

    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <%- style%>
  </head>
  <body>
    <%- include('_header')%> <%- body%> <%- include('_footer')%> <%- script%>
    <script>
      <% if (flash.success && flash.success.length > 0) { %>
        iziToast.show({
          title: 'Success',
          message: '<%= flash.success %>',
          position: 'topCenter',
          timeout: 1000,
          class: 'custom-notification-class', // Add your custom class here
          color: 'green', // Success color
        });
      <% } %>

      <% if (flash.error && flash.error.length > 0) { %>
        iziToast.show({
          title: 'Error',
          message: '<%= flash.error %>',
          position: 'topCenter',
          timeout: 1000,
          class: 'custom-error-class', // Add your custom class here
          color: 'red', // Error color
        });
      <% } %>
    </script>
  </body>
</html>
